<ng-container *ngTemplateOutlet="(checkoutButtonTemplate['template'] === 'ua')? ua : default"></ng-container>
<ng-template #default>
  <div class="large-9 large-offset-3 small-12 small-offset-0 p-b-15"
    [ngSwitch]="templateType">
    <div *ngSwitchCase="'points_cash'" class="btn-container-flex btn-single-50">
      <button
        id="btn-complete-purchase"
        class="btn-base blue-btn"
        (click)="!totalPayment ? placeOrder('noPayment', $event) : placeOrder('payment', $event)"
        [ngClass]="[
          buttonColor,
          (negativeBalance || viewOnly || user.agentBrowse) ? 'disabled' : ''
        ]"
        [disabled]="negativeBalance || viewOnly || user.agentBrowse"
      >
        {{ 'completePurchaseBtn' | translate }}
      </button>
    </div>

    <div *ngSwitchCase="'payroll'" class="btn-container-flex btn-single-50">
      <button
        id="btn-proceed-payroll"
        class="btn-base blue-btn"
        [ngClass]="[
          buttonColor,
          (paymentLimit?.minNotMet || paymentLimit?.maxExceed) ? 'disabled' : ''
        ]"
        [disabled]="paymentLimit?.minNotMet || paymentLimit?.maxExceed"
        (click)="placeOrder('payroll', $event)"
      >
        {{ "proceedPayrollDeduction" | translate }}
      </button>
    </div>

    <div *ngSwitchCase="'installment'" class="btn-container-flex btn-single-50">
      <button
        id="btn-complete-purchase"
        class="btn-base blue-btn"
        [ngClass]="buttonColor"
        (click)="placeOrder('noPayment', $event)"
      >
        {{ "proceedToPurchase" | translate }}
      </button>
      <button
        class="btn-base cta-link-type cancel"
        [ngClass]="buttonColor"
        (click)="changeItemSelection()"
      >
        {{ "cancel" | translate }}
      </button>
    </div>
  </div>
</ng-template>
<ng-template #ua>
  <div class="large-9 large-offset-3 small-12 small-offset-0 p-b-15">
    <div class="btn-container-flex btn-single-50">
      <button id="btn-complete-purchase"
        class="btn-base blue-btn"
        (click)="!totalPayment ? checkTimedoutModal() : placeOrder('payment', $event)"
        [ngClass]="[
          buttonColor,
          (negativeBalance || viewOnly || user.agentBrowse) ? 'disabled' : ''
        ]"
        [disabled]="negativeBalance || viewOnly || user.agentBrowse">
        {{ 'completePurchaseBtn' | translate }}
      </button>
    </div>
  </div>
</ng-template>
