@import '~styles/mixins';

.orders-section {
  padding-bottom: 0;

  @include for-mobile {
    padding: 0 rem(20px);
  }

  .order-history {
    padding: rem(75px) 0 rem(79px) 0;
    margin: 0;

    @include for-mobile {
      padding-top: rem(55px);
    }

    .order-title {
      font-size: rem(40px);
      font-weight: $font-weight-semi-bold;
      line-height: rem(48px);
      color: #111111;
      margin-bottom: rem(53px);
      margin-top: 0;

      @include for-mobile {
        line-height: rem(43px);
      }
    }
  }
}

@media (min-width: 900px) {
  .container {
    width: 100%;
  }
}
