@import '~styles/mixins';

.label-regular {
  color: #111111;
  font-size: rem(17px);
  letter-spacing: 0;
  line-height: rem(20px);
  opacity: 1;
}

.label-bold {
  @extend .label-regular;
  font-size: rem(18px);
  font-weight: $font-weight-semi-bold;
  line-height: rem(21px);
}

.refund-summary-container {
  width: 100%;
  max-width: rem(740px);
  margin-left: calc(25% - 0.3340775rem);
  padding-top: rem(101px);
  @include for-mobile-to-tablet() {
    max-width: 100%;
    margin-left: 0;
  }

  .section-divider {
    border: 0;
    border-top: rem(1px) solid #e6e6e6;
  }

  .title {
    font-size: rem(32px);
    font-weight: $font-weight-semi-bold;
    line-height: rem(38px);
    letter-spacing: 0;
    margin: 0 0 rem(17px) 0;
  }

  .line-item-section {
    padding: rem(18px) 0 rem(26px) 0;
    @include for-mobile-to-tablet() {
      padding: rem(21px) 0 rem(26px) 0;
    }

    .product-details {
      padding: 0;
      margin-bottom: rem(11px);
      @include for-mobile-to-tablet() {
        margin-bottom: rem(12px);
      }

      &:last-child {
        margin-bottom: 0;
      }

      .item-container {
        margin: 0;
        padding: 0 0 rem(11px) 0;
        display: flex;
        align-items: flex-end;
        list-style: none;

        &:last-child {
          padding: 0;
        }

        .order-item-name {
          @extend .label-regular;
          font-weight: $font-weight-semi-bold;
        }

        .order-item-pricing {
          text-align: right;

          ::ng-deep {
            * {
              @extend .label-regular;
              font-weight: $font-weight-semi-bold;
            }

            .local-currency {
              margin: rem(3px) 0 0 0;
            }
          }
        }
      }
    }
  }

  .subtotal-taxes-fees-section {
    padding: rem(19px) 0 rem(25px) 0;
    @include for-mobile-to-tablet() {
      padding: rem(20px) 0 rem(26px) 0;
    }

    .subtotal-section, .taxes-fees-section {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

    .subtotal-section {
      .subtotal-label, .subtotal-value {
        ::ng-deep {
          @extend .label-regular;
          font-weight: $font-weight-regular;

          .local-currency {
            margin: rem(2px) 0 0 0;
          }
        }
      }
    }

    .taxes-fees-section {
      margin-top: rem(10px);

      .taxes-fees-label, .taxes-fees-value {
        ::ng-deep {
          @extend .label-regular;
          font-weight: $font-weight-regular;

          .local-currency {
            margin: rem(2px) 0 0 0;
          }
        }
      }
    }
  }

  .total-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: rem(19px) 0 rem(27px) 0;

    .total-label, .total-value {
      ::ng-deep {
        @extend .label-bold;

        .local-currency {
          margin: rem(3px) 0 0 0;
          font-weight: $font-weight-semi-bold;
        }
      }
    }
  }

  .amount-points-refunded-section {
    padding: rem(19px) 0 0 0;
    @include for-mobile-to-tablet() {
      padding: rem(19px) 0 rem(1px) 0;
    }

    .amount-refunded-section, .points-refunded-section {
      display: flex;
      justify-content: space-between;

      .amount-refunded-label, .points-refunded-label {
        margin-right: rem(12px);
      }
    }

    .amount-refunded-section {
      margin-bottom: rem(13px);

      .amount-refunded-label, .amount-refunded-value {
        @extend .label-bold;
      }
    }

    .points-refunded-section {
      .points-refunded-label, .points-refunded-value {
        @extend .label-bold;
      }
    }
  }
}
