<section class="media-product-container" [ngClass]="{'loading': isProcessing}">
    <div class="hideFromDOM" *ngIf="isProcessing" role="alert" [attr.aria-label]="'loadingAlt' | translate"></div>
    <div class="modal-close-action-content">
        <a href="javascript:void(0)" (click)="cancel()" (keydown.enter)="cancel()" class="g-icons icon-icon-close icon-close" role="button" auto-focus
        aria-label="close modal window"></a>
    </div>
    <div class="modal-body">
        <div class="modal-body-content product-body-container" [innerHTML]="((mediaProduct.itemId + '-modal-content') | translate: {'subscriptionAmount': ( +(mediaProduct.itemId + '-subscription-amount' | translate) | currency ),'imageServerUrl':(config.imageServerUrl) , 'productLogo':((mediaProduct.itemId + '-logo' | translate))}) | safe">
        </div>
    </div>
    <div class="modal-footer product-footer-container d-flex flex-column align-items-center">
        <div class="btn-container">
            <span class="link-base pill-shaped-cta" *ngIf="!mediaProduct.addedToCart">
                <a href="javascript:void(0);" role="button" attr.aria-label="{{ 'add' | translate }} {{ mediaProduct.itemId + '-header' | translate }}" (click)="doMediaSubscribe(mediaProduct)">{{ 'add' | translate }} </a>
            </span>
        </div>
    </div>
</section>
