<div class="login-error-container">
  <div>
    <div class="error-msg">
      <p>An unexpected error has occurred.</p>
      <p>Please try again later.</p>
    </div>

    <div class="error-msg">
      <p>Une erreur imprévue s'est produite.</p>
      <p>Veuillez réessayer plus tard.</p>
    </div>

    <div class="error-msg">
      <p>Ha ocurrido un error inesperado.</p>
      <p>Por favor, inténtelo de nuevo más tarde.</p>
    </div>
    <div class="error-msg">
      <p>發生意外錯誤！</p>
      <p> 請稍後再試。</p>
    </div>
    <div class="error-msg">
      <p>มีข้อผิดพลาดที่ไม่คาดหมายเกิดขึ้น</p>
      <p>กรุณาลองใหม่อีกครั้ง</p>
    </div>
  </div>
</div>
