<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

<!-- ================================================================= -->
<!--                       a console appender                          -->
<!--     debug can be turned off by setting level of root to "off"     -->
<!-- ================================================================= -->

<appender name="console"
    class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
        <param name="ConversionPattern"
            value="%d %p [%t] [%C{1}.%M] %m%n" />
    </layout>
</appender>

<root>
    <level value="warn" />
    <appender-ref ref="console" />
</root>

</log4j:configuration>