<div class="wrapper-footer">
  <div id="rbc-footer" class="footer">
  <div class="wrap">
    <div class="inner-foot">
      <div class="tile-foot">
        <h3>{{ 'rbcfooterLabelCenter' | translate}}</h3>
        <ul class="bullets-arrow">
          <li>
            <a href="{{'rbcfooterUrlSpending' | translate}}" title="{{ 'rbcfooterLabelONWin' | translate}}"
               target="_blank" rel="noopener noreferrer">
              {{ 'rbcfooterLabelSpending' | translate}}&nbsp;<img src="//www.rbc.com/uos/_assets/images/icons/newwindow.gif"
                                                       class="icon" alt="">
            </a>
          </li>
          <li><a href="{{'rbcfooterUrlCCT' | translate}}" title="{{ 'rbcfooterLabelONWin' | translate}}" target="_blank" rel="noopener noreferrer">{{
            'rbcfooterLabelCCT' | translate}}&nbsp;<img src="//www.rbc.com/uos/_assets/images/icons/newwindow.gif" class="icon"
                                             alt=""></a></li>
        </ul>
      </div>
      <div class="tile-foot">
        <h3>{{ 'rbcfooterLabelR' | translate}}</h3>
        <ul class="bullets-arrow">
          <li><a href="{{'rbcfooterUrlAboutR' | translate}}" title="({{ 'rbcfooterLabelONWin' | translate}})"
                 target="_blank" rel="noopener noreferrer">{{
            'rbcfooterLabelAboutR' | translate}}&nbsp;<img src="//www.rbc.com/uos/_assets/images/icons/newwindow.gif"
                                                class="icon" alt=""></a></li>
          <li><a href="{{'rbcfooterUrlATRS' | translate}}" title="({{ 'rbcfooterLabelONWin' | translate}})"
                 target="_blank" rel="noopener noreferrer">{{
            'rbcfooterLabelATRS' | translate}}&nbsp;<img src="//www.rbc.com/uos/_assets/images/icons/newwindow.gif" class="icon"
                                              alt=""></a></li>
          <li><a href="{{'rbcfooterUrlFaqs' | translate}}" title="({{ 'rbcfooterLabelONWin' | translate}})"
                 target="_blank" rel="noopener noreferrer">{{
            'rbcfooterLabelFaqs' | translate}}&nbsp;<img src="//www.rbc.com/uos/_assets/images/icons/newwindow.gif" class="icon"
                                              alt=""></a></li>
          <li><a href="{{'rbcfooterUrlRTaC' | translate}}" title="({{ 'rbcfooterLabelONWin' | translate}})"
                 target="_blank" rel="noopener noreferrer">{{
            'rbcfooterLabelRTaC' | translate}}&nbsp;<img src="//www.rbc.com/uos/_assets/images/icons/newwindow.gif" class="icon"
                                              alt=""></a></li>
        </ul>
      </div>
      <div class="tile-foot">
        <h3>{{ 'rbcfooterLabelCustServ' | translate}}</h3>
        <ul class="bullets-arrow">
          <li><a href="{{'rbcfooterUrlReportCard' | translate}}" title="({{ 'rbcfooterLabelONWin' | translate}})"
                 target="_blank" rel="noopener noreferrer">{{
            'rbcfooterLabelReportCard' | translate}}&nbsp;<img
            src="//www.rbc.com/uos/_assets/images/icons/newwindow.gif"
                                                    class="icon" alt=""></a></li>

          <li><a href="{{'rbcfooterUrlBranchLocate' | translate}}" title="({{ 'rbcfooterLabelONWin' | translate}})"
                 target="_blank" rel="noopener noreferrer">{{
            'rbcfooterLabelBranchLocate' | translate}}&nbsp;<img
            src="//www.rbc.com/uos/_assets/images/icons/newwindow.gif"
                                                      class="icon" alt=""></a></li>
          <li><a href="{{'rbcfooterUrlYourCredit' | translate}}" title="({{ 'rbcfooterLabelONWin' | translate}})"
                 target="_blank" rel="noopener noreferrer">{{
            'rbcfooterLabelYourCredit' | translate}}&nbsp;<img
            src="//www.rbc.com/uos/_assets/images/icons/newwindow.gif"
                                                    class="icon" alt=""></a></li>
          <li><a href="{{'rbcfooterUrlCCR' | translate}}" title="({{ 'rbcfooterLabelONWin' | translate}})"
                 target="_blank" rel="noopener noreferrer">{{
            'rbcfooterLabelCCR' | translate}}&nbsp;<img src="//www.rbc.com/uos/_assets/images/icons/newwindow.gif"
                                                 class="icon"
                                             alt=""></a></li>
        </ul>
      </div>
      <div class="tile-foot">
        <h3>{{ 'rbcfooterLabelOnSecure' | translate}}</h3>
        <ul class="bullets-arrow">
          <li><a href="{{'rbcfooterUrlGuarantee' | translate}}" title="({{ 'rbcfooterLabelONWin' | translate}})"
                 target="_blank" rel="noopener noreferrer">{{ 'rbcfooterLabelGuarantee' | translate}}&nbsp;<img
            src="//www.rbc.com/uos/_assets/images/icons/newwindow.gif" class="icon" alt=""></a></li>
          <li><a href="{{'rbcfooterUrlReportConcern' | translate}}" title="({{ 'rbcfooterLabelONWin' | translate}})"
                 target="_blank" rel="noopener noreferrer">{{ 'rbcfooterTextReportConcern' | translate}}&nbsp;<img
            src="//www.rbc.com/uos/_assets/images/icons/newwindow.gif" class="icon" alt=""></a></li>
          <li><a href="{{'rbcfooterUrlVerVisa' | translate}}" title="({{ 'rbcfooterLabelONWin' | translate}})"
                 target="_blank" rel="noopener noreferrer">{{
            'rbcfooterLabelVerVisa' | translate}}&nbsp;<img src="//www.rbc.com/uos/_assets/images/icons/newwindow.gif"
                                                 class="icon" alt=""></a></li>
          <li><a href="{{'rbcfooterUrlMasterSecure' | translate}}" title="({{ 'rbcfooterLabelONWin' | translate}})"
                 target="_blank" rel="noopener noreferrer">{{ 'rbcfooterLabelMasterSecure' | translate}}&nbsp;<img
            src="//www.rbc.com/uos/_assets/images/icons/newwindow.gif" class="icon" alt=""></a></li>
          <li><a href="{{'rbcfooterUrlChipPin' | translate}}" title="({{ 'rbcfooterLabelONWin' | translate}})"
                 target="_blank" rel="noopener noreferrer">{{
            'rbcfooterLabelChipPin' | translate}}&nbsp;<img src="//www.rbc.com/uos/_assets/images/icons/newwindow.gif"
                                                 class="icon" alt=""></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="base-foot">
    <div class="inner">
      <p>{{ 'rbcfooterLabelRBCWeb' | translate}}, &copy; 1995-{{footerData['currentYear']}}</p>
      <p class="base-link"><a href="{{'rbcfooterUrlPrivSec' | translate}}" [attr.aria-label]="'rbcfooterLabelPrivSecONWin' | translate"
                              target="_blank" rel="noopener noreferrer" >{{ 'rbcfooterLabelPrivSec' | translate}}</a> | <a href="{{
                              'rbcfooterUrlLegal' | translate}}" [attr.aria-label]="'rbcfooterLabelLegalONWin' | translate"
                                                                                                 target="_blank" rel="noopener noreferrer">{{
        'rbcfooterLabelLegal' | translate}}</a> | <a href="{{ 'rbcfooterUrlAccess' | translate}}"
                                           [attr.aria-label]="'rbcfooterLabelAccessONWin' | translate" target="_blank" rel="noopener noreferrer">{{
        'rbcfooterLabelAccess' | translate}}</a></p>
      <p class="base-link right">
        <span class="globalfooter-tool" id="tool-totop">
            <a href (click)="scrollToTop()" tabindex="-1" class="linkedtextandicon">
                <span>{{ 'footerLabelToTop' | translate}}</span>
                <img [src]="config['imageServerUrl'] + '/apple-gr/assets/img/totopbutton.gif'" alt="" width="16" height="16" />
            </a>
        </span>
      </p>
      <div *ngIf="messages['footerExtendedDisclaimer'] && footerDisclaimerService.isWatchLanding() &&
      footerDisclaimerService.displayFooterWatchExtendedDisclaimer"
           [innerHTML]="'footerExtendedDisclaimer' | translate"
           class="base-link large-12 small-12 extended-disclaimer">
      </div>
    </div>
  </div>
</div>
</div>
